/* ---------------------------------------------------------------

************************* Table of Contents *********************

01. =google fonts
02. =variables
03. =overrides variable for theme dark
04. =base
05. =box
06. =customized bootstrap classes
07. =animation keyframes
08. =sections - padding , title
09. =buttons
10. =page loader
11. =circular img
12. =forms
13. =video modal
14. =pagination
15. =breadcrumb
16. =tabs
17. =bubble animation
18. =style switcher
19. =header
20. =footer
21. =banner section
22. =fun facts section
23. =course section
24. =testimonials section
25. =bai section
26. =course details section
27. =contact section

-----------------------------------------------------------------*/

/* ------------------------------
01. =google fonts 
--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;700&display=swap');

/* ------------------------------
02. =variables 
--------------------------------*/
:root{
    --orange: hsl(36, 80%, 50%);
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --black-alpha-40: hsla(0, 0%, 0%, 0.4);
    --yellow-light: hsl(44, 95%, 83%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --select-box-bg-color: hsl(0, 0%, 100%);
    --border-color-1: hsl(0, 0%, 90%);
    --shadow-black: 9.899px 9.899px 30px 0 rgb(0 0 0 / 10%);
}

/* -----------------------------------
03. =overrides variable for theme dark
--------------------------------------*/
body.t-dark{
    --body-bg-color: hsl(240, 10%, 19%);
    --black-70: hsl(0, 0%, 87%);
    --black-90: hsl(0, 0%, 100%);
    --shadow: 0 0 10px hsla(0, 0%, 0%, 0.08);
    --white: hsl(240, 8%, 21%);
    --select-box-bg-color: hsl(240, 8%, 21%);
    --border-color-2: hsl(240, 9%, 25%);
    --border-color-1: hsl(240, 9%, 30%);
}

/* ---------------
04. =base
-------------------*/
body{
    background-color: var(--body-bg-color);
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    color: var(--main-color);
    text-decoration: none;
}
a:hover{
    color: var(--main-color);
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    color: var(--black-70);
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    color: var(--black-90);
    line-height: 1.3;
}

h3{
    font-size: 20px;
}

::selection{
    color: var(--WHITE);
    background-color: var(--main-color);
}

/* ---------------
05. =box
------------------*/
 .box{
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--shadow-black);
    padding: 20px 25px 20px 25px;
}

/* -----------------------------------
06. =customized bootstrap classes
--------------------------------------*/
.container{
    --bs-gutter-x:15px;
    max-width: 1140px;
}
.row{
    --bs-gutter-x:30px;
}

/* -----------------------
07. =animation keyframes
-------------------------*/
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bubble{
    0%{
        transform: translateY(0vh);
        opacity: 0;
    }
    5%,95%{
        opacity: 1;
    }
    100%{
        transform: translateY(-100vh);
        opacity: 0;
    }
}
@keyframes loader{ 
    0% {
        transform: rotate(0deg);
    }
    25%, 50% {
        transform: rotate(180deg);
    } 
    75%, 100% {
        transform: rotate(360deg);
    }
    
}
@keyframes loaderIn {
    0%, 25%, 100%{
        height: 0%;
    }
    50%, 75%{
        height:100%;
    }
}

/* --------------------------------
08. =sections - padding , title
-----------------------------------*/
.section-padding{
    padding: 60px 0;
}
.section-title{
    margin-bottom: 40px;
}
.section-title .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--main-color);
}
.section-title .sub-title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black-90);
}

/* ---------------
09. =buttons
------------------*/
.btn-theme{
    background-color: var(--main-color);
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
.btn-theme:hover{
    color: var(--WHITE);
    background-color: var(--button-hover-color);
}
.btn-theme:focus{
    box-shadow: none;
}
.btn-block{
    width: 100%;
}
.btn-form{
    height: 48px;
}

/* ---------------
10. =page loader
------------------*/
.page-loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1200;
    display: flex;
    background-color: var(--white);
}

.page-loader.fade-out{
    opacity: 0;
    transition: all 0.6s ease;
}

.page-loader div{
    margin: auto;
    height: 32px;
    width: 32px;
    border: 4px solid var(--main-color);
    position: relative;
    animation: loader 2s linear infinite;
}
.page-loader div::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    animation: loaderIn 2s linear infinite;
}

/* ---------------
11. =circular img
------------------*/
.circular-img{
    max-width: 360px;
    margin: auto;
    position: relative;
    z-index:1;
}
.circular-img-inner{
    text-align: center;
    border-radius: 0 0 180px 180px;
    overflow: hidden;
}
.circular-img-circle{
    height: 360px;
    width: 360px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
}
.circular-img img{
    position: relative;
    z-index: 1;
}

/* ---------------
12. =forms
------------------*/
input:focus{
    box-shadow: none!important;
}
.form-title{
    font-size: 24px;
    margin: 0 0 30px;
    font-weight: 600;
}

.form-control::placeholder{
    color: var(--black-70);
}

.form-control{
    border: 1px solid var(--border-color-1);
    font-size: 16px;
}
.form-control input{
    height: 45px;
}

.form-control:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid var(--border-color-2);
}

/* ---------------
13. =video modal
------------------*/
.video-modal .btn-close{
    height: 35px;
    width: 35px;
    background-image: none;
    background-color: var(--black-alpha-40);
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
    position: absolute;
    right: 5px;
    top:5px;
    color: var(--white);
    font-size: 16px;
    padding: 0;
    box-shadow: none;
}
.video-modal .modal-content{
    border: 0;
}

/* ---------------
14. =pagination
------------------*/
.pagination{
    margin-top: 10px;
}

.pagination .page-link{
    color: var(--black-70);
    font-size: 16px;
    padding: 8px 15px;
    background-color: var(--white);
    border-color: var(--border-color-2);
}
.pagination .page-link:focus{
    outline: none!important;
    box-shadow: none!important;
}
.pagination .page-link:focus,
.pagination .page-link:hover,
.pagination .page-link.active{
    background-color: var(--main-color);
    color: var(--WHITE);
    border-color: var(--main-color);
}

/* ---------------
15. =breadcrumb
------------------*/
.breadcrumb-nav .breadcrumb-item{
    font-size: 14px;
}
.breadcrumb-nav .breadcrumb-item.active{
    color: var(--black-90);
}

/* ---------------
16. =tabs
------------------*/
.nav-tabs .nav-link{
    background-color: var(--white);
    text-transform: capitalize;
    border-color: var(--border-color-2);
    padding: 8px 15px;
    margin: 0 5px 10px;
    border-radius: 4px;
    color: var(--black-70);
    font-size: 16px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active{
    background-color: var(--main-color);
    color: var(--WHITE);
    border-color: var(--main-color);
}

/* -------------------
17. =bubble animation
---------------------*/

.bubble-animation-item{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    z-index: -1;
}
.bubble-animation-item:nth-child(1){
    border-color: var(--yellow-light);
    top: 125%;
    left: 10%;
    animation: bubble 30s linear infinite;
}
.bubble-animation-item:nth-child(2){
    border-color: var(--green-light);
    top: 60%;
    left: 50%;
    animation: bubble 40s linear infinite;
}
.bubble-animation-item:nth-child(3){
    border-color: var(--red-light);
    top: 90%;
    left: 90%;
    animation: bubble 50s linear infinite;
}
.bubble-animation-item:nth-child(4){
    border-color: var(--yellow-light);
    top: 80%;
    left: 60%;
    animation: bubble 60s linear infinite;
}
.bubble-animation-item:nth-child(5){
    border-color: var(--green-light);
    top: 30%;
    left: 10%;
    animation: bubble 70s linear infinite;
}
.bubble-animation-item:nth-child(6){
    border-color: var(--red-light);
    top: 20%;
    left: 30%;
    animation: bubble 80s linear infinite;
}
.bubble-animation-item:nth-child(7){
    border-color: var(--yellow-light);
    top: 100%;
    left: 5%;
    animation: bubble 60s linear infinite;
}
.bubble-animation-item:nth-child(8){
    border-color: var(--green-light);
    top: 110%;
    left: 33%;
    animation: bubble 70s linear infinite;
}
.bubble-animation-item:nth-child(9){
    border-color: var(--red-light);
    top: 120%;
    left: 65%;
    animation: bubble 80s linear infinite;
}

/* -------------------
18. =style switcher
---------------------*/
.style-switcher{
    width: 250px;
    position: fixed;
    height: 100%;
    background-color: var(--white);
    right: -250px;
    top: 0;
    z-index: 10;
    padding: 30px;
    box-shadow: var(--shadow);
    transition: right 0.3s ease-in-out;
}

.style-switcher.open{
    right: 0;
}
.style-switcher-toggler{
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    color: var(--WHITE);
    position: absolute;
    top: 28%;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
}

.style-switcher h3{
    font-size: 18px;
    text-transform: capitalize;
    border-bottom: 1px solid var(--border-color-1);
    padding: 0 0 10px;
}

.style-switcher-item{
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color-1);
}

.style-switcher-item input{
    cursor: pointer;
}

.theme-colors button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0;
    position: relative;
}

.theme-colors button:before{
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 13px;
    color: var(--WHITE);
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.theme-colors button.active:before{
    opacity: 1;
}

.theme-colors .color-1{
    background-color: hsl(0, 74%, 61%);
}

.theme-colors .color-2{
    background-color: hsl(230, 74%, 61%);
}

.theme-colors .color-3{
    background-color: hsl(36, 74%, 61%);
}

.theme-colors .color-4{
    background-color: hsl(277, 74%, 61%);
}

.theme-colors .color-5{
    background-color: hsl(164, 74%, 61%);
}

/* --------------
19. =header
-----------------*/
.header{
    border-bottom: 1px solid var(--border-color-2);
}
.header-logo a{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
}
.header-logo span{
    color: var(--main-color);
}
.header .menu-item{
    display: inline-block;
    margin-left:40px;
    position: relative;
}
.header .menu-item > a{
    display: block;
    padding: 24px 0;
    font-weight: 400;
    color: var(--black-90);
    text-transform: capitalize;
    transition: color 0.3s ease;
}
.header .menu-item:hover > a{
    color: var(--main-color);
}
.header .menu-item > a i{
    font-size: 13px;
    margin-left: 3px;
}
.header .sub-menu{
    position: absolute;
    background-color: var(--white);
    left: 0;
    top: 100%;
    width: 210px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}
@media(min-width: 992px){
    .header .menu-item:hover > .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
.header .sub-menu-item a{
    display: block;
    padding: 10px 20px;
    color: var(--black-90);
    text-transform: capitalize;
    font-weight: 400;
    transition: color 0.3s ease;
}
.header .sub-menu-item:hover a{
    color: var(--main-color);
}

.header-hamburger-btn,
.header-backdrop,
.header-close-btn{
    display: none;
}


/* --------------
20. =footer
-----------------*/
.footer-top{
    padding: 50px 0 20px;
    border-top: 1px solid var(--border-color-2);
}

.footer-item{
    margin: 0 0 30px;
}

.footer-item h3{
    text-transform: capitalize;
    margin: 0 0 20px;
}

.footer-item .footer-logo{
    color: var(--black-70);
    text-transform: uppercase;
    font-weight: 700;
}

.footer-item .footer-logo span{
    color: var(--main-color);
}

.footer-item ul li:not(:last-child){
    margin-bottom: 8px;
}

.footer-item ul a{
    text-transform: capitalize;
    color: var(--black-70);
    transition: color  0.3s ease;
    position: relative;
}

.footer-item ul a:hover{
    color: var(--main-color);
}

.footer-item ul a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

.footer-item ul a:hover::before{
    width: 100%;
}

.footer-item ul a .social-icon{
    margin-right: 5px;
}

.footer-bottom{
    border-top: 1px solid var(--border-color-2);
    padding: 10px 0 10px 0;
}
.footer-bottom p{
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    margin:0;
}

.footer-bottom a{
    font-weight: 600;
    color: var(--main-color);
}

/* --------------
21. =banner section
-----------------*/
.banner-section{
    padding: 80px 0;
    min-height: 680px;
}
.banner-section h2{
    font-size: 20px;
    line-height: 1.4;
    color: var(--main-color);
}
.banner-section h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
}
.banner-section .circular-img-circle{
    background-color: var(--red-light);
}

/* -------------------
22. =fun facts section
---------------------*/
.fun-facts-item{
    padding: 15px 0;
}
.fun-facts-item h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.fun-facts-item p{
    margin: 0;
    text-transform: uppercase;
}
.fun-facts-item .style-1{
    color: var(--black-70);
}
.fun-facts-item .style-2{
    color: var(--green-light);
}
.fun-facts-item .style-3{
    color: var(--red-light);
}
.fun-facts-item .style-4{
    color: var(--orange-light);
}
/* --------------
23. =courses section
-----------------*/
.course-item{
    margin-bottom: 40px;
    position: relative;
}
.course-item .link{
    color: var(--black-70);
    display: inline-block;
}

.course-item .img-box{
    border-radius: 5px;
    overflow: hidden;
}

.course-item .img-box img{
    width: 100%;
    border-radius: 5px;
    transition: 0.5s all;
}

.course-item:hover .img-box img{
    transform: scale(1.1);
}

.course-item .title{
    text-transform: capitalize;
    margin: 15px 0;
    transition: color 0.3s ease;
}

.course-item:hover .title{
    color: var(--main-color);
}

.course-item .instructor{
    text-transform: capitalize;
    margin: 0 0 12px;
}

.course-item .instructor img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.course-item .rating{
    font-size: 14px;
}

.course-item .average-rating{
    font-weight: 600;
    color: var(--orange);
}

.course-item .average-stars i{
    color: var(--orange);
}

.course-item .price{
    background-color: var(--main-color);
    color: var(--WHITE);
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    top:15px;
    right:15px;
    z-index: 1;
}

/* ----------------------
24. =testimonials section
------------------------*/
.testimonials-section .img-box{
height: 150px;
width: 150px;
border-radius: 50%;
background-color: var(--main-color);
margin: 30px auto 50px;
position: relative;
}

.testimonials-section .img-box::before,
.testimonials-section .img-box::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    animation: spin 15s linear infinite;
}

.testimonials-section .img-box::before{
    height: 180px;
    width: 180px;
    left: -15px;
    top:-15px;
    border-left: 1px solid transparent;
}
.testimonials-section .img-box::after{
    height: 210px;
    width: 210px;
    left: -30px;
    top:-30px;
    border-right: 1px solid transparent;
}

.testimonials-section h3{
    text-transform: capitalize;
}

.testimonials-section .text-2{
    text-transform: capitalize;
    margin: 0;
}

.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
}

.testimonials-section .decoration-circles-item{
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
}

.testimonials-section .decoration-circles-item:nth-child(1){
    left: 10%;
    top:20%;
    height: 30px;
    width: 30px;
    background-color: var(--yellow-light);
}
.testimonials-section .decoration-circles-item:nth-child(2){
    left: 37%;
    top: 40%;
    height: 50px;
    width: 50px;
    background-color: var(--green-light);
}
.testimonials-section .decoration-circles-item:nth-child(3){
    left: 70%;
    top: 70%;
    height: 30px;
    width: 30px;
    background-color: var(--red-light);
}
.testimonials-section .decoration-circles-item:nth-child(4){
    left: 20%;
    top: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--red-light);
}
.testimonials-section .decoration-circles-item:nth-child(5){
    left: 75%;
    top: 35%;
    height: 30px;
    width: 30px;
    background-color: var(--yellow-light);
}

.testimonials-section .decoration-imgs .decoration-imgs-item{
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
}

.testimonials-section .decoration-imgs .decoration-imgs-item:nth-child(1){
    height: 60px;
    width: 60px;
    left: 20%;
    top: 30%;
    background-color: var(--yellow-light);
}
.testimonials-section .decoration-imgs .decoration-imgs-item:nth-child(2){
    height: 80px;
    width: 80px;
    left: 85%;
    top: 45%;
    background-color: var(--red-light);
}
.testimonials-section .decoration-imgs .decoration-imgs-item:nth-child(3){
    height: 45px;
    width: 45px;
    left: 10%;
    top:60%;
    background-color: var(--green-light);
}

/* --------------
25. =bai section
-----------------*/
.bai-section .circular-img-circle{
    background-color: var(--yellow-light);
}

/* ----------------------
26. =course details section
------------------------*/
.course-header h2{
    font-size: 30px;
    color: var(--black-90);
    font-weight: 600;
    text-transform: capitalize;
}

.course-header .rating{
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0px 7px 0px;
}

.course-header .average-rating{
    color: var(--orange);
}

.course-header .average-stars i{
    color: var(--orange);
}

.course-header .course-sub-desc{
    font-size: 15px;
    line-height: 2;
    color: var(--black-70);
    text-transform: capitalize;
    font-weight: 400;
    margin: 0;
}

.course-header .course-sub-desc span{
    margin-left: 5px;
}

/* course tabs */
.course-tabs{
    margin: 40px 0 30px;
}

/* course curriculum */
.course-curriculum h3{
    margin-bottom: 25px;
}

.course-curriculum .accordion-item{
    border-color: var(--border-color-1);
    background-color: transparent;
}

.course-curriculum .accordion-button{
    background-color: transparent;
    box-shadow: none;
    color: var(--black-90);
    font-weight: 300;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 160px;
}

.course-curriculum .accordion-button span{
    position: absolute;
    right: 20px;
    font-size: 14px;
}

.course-curriculum .accordion-button::after{
    content:'\f077';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background-image: none;
    position: absolute;
    left: 17px;
}

.course-curriculum .accordion-button:not(.collapsed) span{
    font-weight: 500;
}

.course-curriculum .accordion-button:not(.collapsed){
    font-weight: 600;
    border-bottom: 1px solid var(--border-color-1);
    transition: none;
    box-shadow: none;
}

.course-curriculum ul li{
    position: relative;
    padding: 0px 50px 0px 0px;
    line-height: 2;
    font-size: 14px;
}

.course-curriculum ul li i{
    margin-right: 7px;
}

.course-curriculum ul li span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
}

/* course description */
.course-description h4{
    font-size: 17px;
    font-weight: 500;
    color: var(--black-90);
}

/* course instructor */
.course-instructor .instructor-profile{
    display: flex;
    margin-top: 20px;
}

.course-instructor .instructor-img{
    width: 130px;
    height: 130px;
    margin-right: 20px;
}

.course-instructor .instructor-img img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.course-instructor .instruction-info ul li{
    line-height: 2;
}

.course-instructor .instruction-info .instructor-name{
    margin-right: 5px;
    font-weight: 600;
}

.course-instructor .instruction-info i{
    margin-right: 7px;
    color: var(--main-color);
}

.course-instructor .instructor-desc{
    margin-top: 20px;
}

/* course reviews */
.rating-summary .average-rating{
    font-size: 40px;
    font-weight: 700;
    color: var(--black-90);
}

.rating-summary .average-stars{
    color: var(--orange);
}

.rating-summary .rating-bars-item{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.rating-summary .star-text{
    color: var(--orange);
}

.rating-summary .progress{
    height: 8px;
    background-color: var(--border-color-2);
    width: calc(100% - 120px);
    margin: 0 10px 0 10px;
    border-radius: 0px;
}

.rating-summary .progress-bar{
    background-color: var(--main-color);
}

.reviews-filter{
    margin:35px 0 35px 0;
    width: 200px;
}

.caret{
    color: var(--main-color)!important;
}

.reviews-filter .form-select{
    height: 50px;
    margin-top: 20px;
    background-color: var(--white);
}

.reviews-filter .form-select,
.reviews-filter .form-select:focus,
.reviews-filter .form-select:active{
    box-shadow: none;
    outline: none;
    color: var(--black-70);
    border: 1px solid var(--border-color-1);
}

.reviews-filter .form-select option{
    font-size: 15px;
    font-weight: 300;
}

.reviews-item{
    position: relative;
    margin-bottom: 30px;
    padding-left: 70px;
}

.reviews-item .img-box{
    max-width: 55px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
}

.reviews-item .stars-rating{
    margin: 5px 0px 5px 0px;
}

.reviews-item .stars-rating i{
    font-size: 12px;
    color: var(--orange);
}

.reviews-item .stars-rating .date{
    margin-left: 5px;
    font-size: 14px;
    color: var(--black-70);
}

.reviews-item h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--black-90);
    margin: 0;
}

.reviews-item p{
    font-size: 15px;
}

/* Course details Sidebar */

.course-sidebar .img-box {
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}
.course-sidebar .img-box img{
    border-radius: 5px;
}
.course-sidebar .img-box:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-alpha-40);
    border-radius: 5px;
}

.course-sidebar .play-icon{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--WHITE);
    font-size: 16px;
}

.course-sidebar .img-box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--WHITE);
    font-weight: 500;
    margin-top: 50px;
}

.course-sidebar .price{
    display: flex;
    align-items:center;
}

.course-sidebar .price .price-old{
    color: var(--black-70);
    font-size: 18px;
    text-decoration: line-through;
}

.course-sidebar .price .price-new{
    color: var(--black-90);
    font-size: 25px;
    font-weight: 700;
    margin: 0 7px 0 7px;
}

.course-sidebar .price .price-discount{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 400;
}

.course-sidebar .course-features{
    margin: 25px 0px 25px 0px;
}

.course-sidebar .course-features li{
    display: flex;
}

.course-sidebar .course-features li:not(:last-child){
    margin-bottom: 8px;
}

.course-sidebar .course-features .feature-icon{
    font-size: 16px;
    color: var(--main-color);
    margin: 3px 8px 0 0;
}

.course-sidebar .course-features .feature-item{
    line-height: 1.7;
    font-size: 16px;
    color: var(--black-70);
    font-weight: 400;
    margin: 0;
}



/* ----------------------
27. =contact section
------------------------*/

.contact-item{
    display: flex;
    margin-bottom: 20px;
}
/* .contact-item .icon-box{
    position: absolute;
} */
.contact-item .icon-box i{
    background-color: var(--main-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--WHITE);
    display: flex;
    justify-content:center;
    align-items: center;
}

.contact-details-item{
    margin-left: 15px;
}
.contact-details-item h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: var(--black-90);
}

.contact-details-item p{
    color: var(--black-70);
    font-size: 16px;
}
